body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    /* Prevent horizontal scrollbar due to expanded menu */
    font-family: 'Open Sans', sans-serif;
    background: black;
    color: white;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    border: 0px;
    border-bottom: 0.1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    height: 50px;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.logo img {
    width: 50px;
    margin: auto;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 13px;
}

/*
.logo img:hover {
    background: #bd0328;
} */

.toggle-btn {
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li:last-child {
    margin-right: 9px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #a9a9a9;
}

#home {
    max-height: calc(100vh - 70px);
    width: 100%;
    top: 70px;
    background-color: black;
    padding: 0;
    margin: 0;
    background-color: black;
}

#home img {
    vertical-align: top;
    max-height: calc(100vh - 70px);
    width: 100%;
    object-fit: cover;
}

.con0 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100wv;
    padding-left: 10vh;
    padding-right: 10vh;
}

.con1 {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    margin-top: 36px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 9px;
    max-width: 60%;
    width: 100%;
}

.advert {
    padding-bottom: 16px;
}

.con1 img {
    max-width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.con1 p {
    margin-top: 2px;
}

.con1 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.con1 ul {
    margin-top: 0;
}

#footer {
    text-align: center;
    margin-bottom: 26px;
    width: 100%;
}

#copy {
    margin-top: 16px;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rounded-button {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #4078c0;
    color: #fff;
    border-radius: 20px;
    /* Adjust this value to control the roundness */
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 9px;
    margin-right: 9px;
    width: 260px;
    text-align: center;
}

.rounded-button i {
    font-size: 30px;
    margin-right: 12px;
}

.rounded-button:hover {
    background-color: #2980b9;
}

#video-container iframe,
#video-container object,
#video-container embed {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px, 12px, 12px, 12px;
}

/* Media Queries for Responsiveness */

/* For devices with a maximum width of 1280px */
@media (max-width: 1280px) {
    .con1 {
        max-width: 75%;
    }
}

/* For devices with a maximum width of 950px */
@media (max-width: 950px) {
    .toggle-btn {
        display: block;
        margin-right: 9px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        margin: 0;
        opacity: 0;
        /* Hide the navbar when collapsed */
        pointer-events: none;
        /* Disable interactions when collapsed */
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
        /* Update the transition property */
        max-height: 0;
        /* Add max-height to collapse the navbar */
        overflow: hidden;
        /* Hide any content that exceeds the max-height */
    }

    .nav-links li {
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 26px;
    }

    .nav-links li:last-child {
        margin-right: 0px;
        margin-bottom: 10px;
    }


    .nav-links.expanded {
        opacity: 1;
        /* Show the navbar when expanded */
        pointer-events: auto;
        /* Enable interactions when expanded */
        max-height: 100vh;
        width: 100%;
        /* Set a reasonable max-height to expand the navbar */
        border: 0px;
        border-bottom: 0.2px;
        border-bottom-color: gray;
        border-bottom-style: solid;
        padding-left: 0;
    }

    /* Adjust content margin when navbar is expanded */
    .content {
        margin-top: 60px;
        transition: margin 0.3s ease-in-out;
    }

    .content.expanded {
        margin-top: 0;
        /* Remove margin when navbar is expanded */
    }

    .con0 {
        padding: 0;
        padding-left: 12px;
        padding-right: 12px;
        max-width: 100%;
    }

    .con1 {
        margin: 0px;
        margin-top: 9px;
        border-radius: 0px;
        max-width: 100%;
    }

    #footer {
        margin-bottom: 0;
    }
}
