html,
body {
    max-width: 100%;
    height: auto;
    font-family: 'Be Vietnam', sans-serif;
    background-color: black;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    flex: 1;
    font-size: 1rem;
    position: relative;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 10px;
}

.loader-wrapper {
    position: fixed;
}

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 4px solid black;
    animation: loader 2s infinite ease;
    border-radius: 10px;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: black;
    animation: loader-inner 2s infinite ease-in;
}



nav {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.85);
    top: 0;
    left: 0;
    margin-top: auto;
    position: fixed;
    z-index: 100;
    animation: opacityfadeout 0.5s forwards ease-in;
}

nav:hover {
    animation: opacityfadein 0.5s forwards ease-in;
}

nav ul {
    top: 0;
    left: 0;
    list-style: none;
    color: white;
    margin: auto;
    width: 100%;
    display: table;
}

nav ul li {
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
    padding: 2.5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
    cursor: pointer;
    color: #be1522;
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #be1522;
    padding: 2px;
}

.content {
    float: right;
    margin-right: 100px;
    margin-top: -65px;
}

.content ul li {
    float: left;
}



#logo img {
    float: left;
    height: 50px;
    width: 100px;
    margin-top: -5px;
}


#hamburger {
    display: none;
    cursor: pointer;
}

/*Main Image*/
#image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    margin-left: -1px;
    margin-bottom: -3px;
}


#video {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    animation: blurfadeout 0.5s forwards ease-in;
}

#heading {
    width: 100%;
    height: 100%;
}

#heading img {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 10;
    margin-top: -35%;
}

#heading h1 {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 10;
    margin-top: -35%;
    font-size: 9rem;
    color: white;
    font-family: 'Patrick Hand', cursive;
}

#image:hover > #video {
    animation: blurfade 0.5s forwards ease-in;
}


.container1,
.container1--menu {
    background-color: white;
    width: auto;
    height: 100%;
    color: black;
    margin-top: 2px;
    margin-left: 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.container1 img,
.container1--menu img {
    width: 50%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}


.container1 div,
.container1--menu div {
    margin-top: 1%;
    width: auto;
    justify-content: space-between;
    position: relative;
}

.container1 div {
    width: 100%;
    height: 500px;
}

.container1 div h2,
.container1--menu div h2 {
    font-size: 3rem;
}

.container1 div p,
.container1--menu div p {
    font-size: 1.1rem;
}

.container1 div h2,
.container1 div p,
.container1--menu div h2,
.container1--menu div p {
    display: block;
}

.container1 table,
th,
td {
    width: 600px;
    text-align: left;
    margin: auto;
}

.container1 a {
    text-decoration: none;
}

.container1 table {
    border: solid black 1px;
}


.menu-h2 {
    text-align: center;
    font-size: 10rem;
    min-width: 100%;
    position: relative;
    /*font-family: 'Patrick Hand', cursive;*/
}

.menu-h2 h2 {
    font-size: 10rem;
    position: relative;
    width: auto;
    padding 2%;
    
}

.menu img {
    max-height: auto;
    width: 100%;
    min-width: 100%;
}
.main{
    margin-top: 2%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-bottom: 2%;
    margin-right: 1%;
    animation: shadowfadeout 0.2s forwards ease-in;
    position: relative;
}

.menu:hover {
    animation: shadowfadein 0.2s forwards ease-in;
}

.location {
    background-color: white;
    width: 100%;
    height: 750px;
    padding: 0;
    color: black;
    margin-top: 2px;
}

.location div {
    padding: 25px 30px;
}

.location object {
    width: 100%;
    height: 500px;
}

.location h2 {
    font-size: 3rem;
}

.location p {
    font-size: 1.25rem;
    padding-left: 1%;
}


#icons {
    background-color: white;
    width: 100%;
    height: auto;
    font-size: 4rem;
    text-align: center;
    margin: 2px 0;
}

#icons i {
    margin: auto;
    margin-bottom: 15px;
    letter-spacing: 15px;
    color: black;
    cursor: pointer;
}

footer {
    height: auto;
    width: 100%;
    background-color: white;
    flex-shrink: 0;
    color: gray;
    font-size: 4rem;
    text-align: center;
}

footer p {
    font-size: 1rem;
    padding: 10px;
}



#copy {
    margin: auto;
    margin-top: 30px;
    font-size: 1.2rem;
    padding: 0;
}
    .menu-h3-date{
        padding: 0;
    }
    
    .menu-h3-date h3{
        text-align: center;
        font-size: 1.25rem;
    }
    
.container2--menu {
    background-color: white;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    color: black;
    position: relative;
    margin-top: 2px;
    text-align: center;
}
.container1--menu a{
    text-decoration: none;
    color: black;
}
.container1--menu a, .container2--menu a{
    text-decoration: none;
    color: black;
}
 .source{
        color: darkgray;
        margin-top: 0;
        margin-bottom: 0;
    }

/*Debloatded Skeleton for contact us page*/


.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}


input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 500px;
    resize: none;
}

textarea {
    min-height: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes blurfade {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(12px);
    }
}

@keyframes blurfadeout {
    0% {
        filter: blur(12px);
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes opacityfadein {
    0% {
        background-color: rgba(255, 255, 255, 0.85);
    }

    100% {
        background-color: rgba(255, 255, 255, 1);
    }
}

@keyframes opacityfadeout {
    0% {
        background-color: rgba(255, 255, 255, 1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.85);
    }
}

@keyframes shadowfadeout {
    0% {
        box-shadow: 2px 4px 12px grey;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes shadowfadein {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: 2px 4px 12px grey;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 5px;
}

@media (max-width: 10000000000000px) {
    nav {
        height: auto;
        left: 0;
        top: 0;
        animation: none;
        background-color: white;
    }

    nav:hover {
        animation: none;
    }

    nav ul {
        margin-left: -40px;
        display: block;
        float: none;
    }

    nav ul li {
        float: none;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        left: 0;
        top: 0;
        font-size: 1.4rem;
    }
    .content ul li {
        float: none;
    }

    #logo {
        float: none;
        text-align: center;
        left: 0;
        top: 0;
        font-size: 2rem;
        max-height: 70px;
        margin-top: 20px;
        margin: 0 auto;
    }


    #image {
        top: 0;
        left: 0;
        max-width: 100%;
        max-height: 50%;
        margin-top: 10%;
    }

    #heading img {
        max-width: 250px;
        max-height: 100px;
        margin-top: -35%;
    }

    .container1,
    .container1--menu {
        display: block;
        text-decoration: none;
        position: relative;
    }

    .container1 div,
    .container1--menu div {
        margin-top: 1%;
        justify-content: space-between;
        padding: 2%;
        position: relative;
    }

    .container1 div p,
    .container1--menu div p {
        font-size: 1rem;
        max-width: 100%;
        text-decoration: none;
    }

    .container1 div a,
    .container1--menu div a {
        font-size: 1rem;
        text-decoration: none;
    }

    .container1 img,
    .container1--menu img {
        object-fit: cover;
        width: auto;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .container1 table,
    th,
    td {
        width: 75%;
        text-align: left;
    }

    .content {
        display: none;
    }

    #hamburger {
        display: block;
    }

    .content.toggleCLs {
        display: block;
        float: none;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        margin-top: 2%;
        height: auto;
        padding-top: 0.5%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        margin-bottom: 2%;
        margin-right: 1%;
        margin-left: 1%;
        position: relative;
        text-decoration: none;
    }
    #first{
        margin-top: 2%;
    }
    .menu:hover {
        animation: shadowfadein 0.2s forwards ease-in;
    }
    .link{
        text-decoration: none;
        color: black;
    }
    .menu img {
        left: 0;
        right: 0;
        width: 100%;
    }
    .source{
        color: darkgray;
        margin-top: 0;
        margin-bottom: 0;
    }

    #heading h1 {
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        z-index: 20;
        margin-top: -35%;
        font-size: 2rem;
        color: white;
        text-decoration: none;
    }
    
    .container1 div h2,
    .container1--menu div h2{
        font-size: 2.5rem;
    }
    
    .menu-h3-date{
        padding: 0;
    }
    
    div .menu-h2{
        padding: 0;
    }
    
    .menu-h3-date h3{
        text-align: center;
        font-size: 1.25rem;
    }
    
.container2--menu {
    background-color: white;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    color: black;
    position: relative;
    margin-top: 2px;
    text-align: center;
}
}
@media (max-width: 90000px) {    
    
    .container1 div h2,
    .container1--menu div h2{
        font-size: 3rem;
    }
    
    .menu-h3-date h3{
        text-align: center;
        font-size: 1.75rem;
        text-decoration: none;
    }
    .menu {
        margin-top: 2%;
        height: auto;
        padding-top: 0.5%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        margin-bottom: 2%;
        margin-right: 25%;
        margin-left: 25%;
        position: relative;
        text-decoration: none;
    }
    .menu h3{
        font-size: 1.5rem;
        text-decoration: none;
    }
    
    .container1 div p,
    .container1--menu div p{
        font-size: 1.1rem;
    }
    
    .source{
        color: darkgray;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0.9rem;
    }
}

@media (max-width: 720px) {
    .menu {
        margin-top: 2%;
        height: auto;
        padding-top: 0.5%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        margin-bottom: 2%;
        margin-right: 1%;
        margin-left: 1%;
        position: relative;
        text-decoration: none;
    }
}
